<%= form_for(@leak) do |f| %>
  <% if @leak.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leak.errors.count, "error") %> prohibited this leak from being saved:</h2>

      <ul>
      <% @leak.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :file_header %>

    <p>
    Possible fields are: 
    <code>username</code>, 
    <code>hash</code>, 
    <code>password</code>, 
    <code>email</code>,
    and <code>_</code> (to represent a field to skip).
    </p>

    <%= f.text_field :csv_header %>
  </div>
  <div class="field">
    <%= f.label :data_csv %>
    <%= f.file_field :data_csv %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
