<h1>Leaks</h1>

<table class="listing">
<% @leaks.each do |leak| %>
  <tr>
    <td><%= link_to leak.name, leak %></td>
    <td><%= leak.address %></td>
    <td>
      <%= link_to image_tag("pencil.png"), edit_leak_path(leak) %>
      <%= link_to image_tag("cross.png"), leak, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Leak', new_leak_path %>
