<h1>Leaks</h1>

<%= link_to "#{image_tag "add.png"} New Leak".html_safe, new_leak_path %>

<table class="listing">
<% @leaks.each do |leak| %>
  <tr>
    <td><%= link_to leak.name, leak %></td>
    <td><%= leak.address %></td>
    <td style="text-align: right"><%= leak.credential_count %> creds</td>
    <td style="text-align: right"><%= leak.password_count %> passwords</td>
    <td>
      <%= link_to image_tag("pencil.png"), edit_leak_path(leak) %>
      <%= link_to image_tag("cross.png"), leak, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
