<h3><%= @leak.name %></h3>

<% if @leak.address != '' %>
  <p>
  <b>Source Address:</b>
  <%= @leak.address %>
  </p>
<% end %>

<%= link_to 'Edit', edit_leak_path(@leak) %> |
<%= link_to 'Back', leaks_path %>

<h4>Sample of <%= @leak.credentials.size %> Associated Credentials</h4>
<%= render :partial => "credentials", :object => @leak.credentials_snippet %>
