<h3><%= @leak.name %></h3>

<% if @leak.address != '' %>
  <p>
  <b>Source Address:</b>
  <%= @leak.address %>
  </p>
<% end %>

<%= link_to 'Edit', edit_leak_path(@leak) %> |
<%= link_to 'Back', leaks_path %>

<%= render :partial => "credentials", :object => @leak.credentials %>
