<% if @stats.most_common_passwords %>
  <h3 class="stat">Most Common Passwords</h3>
  <div id="top-passwords" class="leak-info stat-container">
    <table>
      <tr>
        <th>Password</th>
        <th>Occurrences</th>
      </tr>
      <% @stats.most_common_passwords.each do |pw| %>
        <tr>
          <td><%= pw["password"] %></td>
          <td><%= pw["pw_count"] %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<h3 class="stat">Statistical Overview</h3>

<div id="charts" class="leak-info">
  <% if @stats.strength_points %>
    <div class="stat-container">
      <h4>Median Strength Over Time</h4>
      <div id="strength-point-canvas" class="plot"></div>
      <script type="text/javascript">
        var strength_points = <%= JSON.dump(@stats.strength_points).html_safe %>;
        make_scatter("#strength-point-canvas", strength_points, "#7C7");
      </script>
    </div>
  <% end %>

  <% if @stats.length_points %>
    <div class="stat-container">
      <h4>Median Length Over Time</h4>
      <div id="length-point-canvas" class="plot"></div>
      <script type="text/javascript">
        var length_points = <%= JSON.dump(@stats.length_points).html_safe %>;
        make_scatter("#length-point-canvas", length_points, "#77C");
      </script>
    </div>
  <% end %>

  <% if @stats.complexity_points %>
    <div class="stat-container">
      <h4>Median Character Complexity Over Time</h4>
      <div id="complexity-point-canvas" class="plot"></div>
      <script type="text/javascript">
        var complexity_points = <%= JSON.dump(@stats.complexity_points).html_safe %>;
        make_scatter("#complexity-point-canvas", complexity_points, "#C77");
      </script>
    </div>
  <% end %>

  <% if @stats.strength_distribution %>
    <div class="stat-container">
      <h4>All-time Strength Distribution</h4>
      <div id="strength-canvas" class="plot"></div>
      <script type="text/javascript">
        var strength_distribution = <%= JSON.dump(@stats.strength_distribution).html_safe %>;
        make_distribution("#strength-canvas", strength_distribution, "#7C7");
      </script>
    </div>
  <% end %>

  <% if @stats.length_distribution %>
    <div class="stat-container">
      <h4>All-time Length Distribution</h4>
      <div id="length-canvas" class="plot"></div>
      <script type="text/javascript">
        var length_distribution = <%= JSON.dump(@stats.length_distribution).html_safe %>;
        make_distribution("#length-canvas", length_distribution, "#77C");
      </script>
    </div>
  <% end %>


  <% if @stats.complexity_distribution %>
    <div class="stat-container">
      <h4>All-time Character Complexity Distribution</h4>
      <div id="complexity-canvas" class="plot"></div>
      <script type="text/javascript">
        var complexity_distribution = <%= JSON.dump(@stats.complexity_distribution).html_safe %>;
        make_distribution("#complexity-canvas", complexity_distribution, "#C77");
      </script>
    </div>
  <% end %>
</div>
